{% extends 'company/Fin_base.html' %}
{% block body %}
{% load static %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>

<style>
    tr:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.1);
    }
</style>

<div class="page-content">
    <div class="card radius-15">
        <div class="card-body">
            <div class="card-title">
                <center>
                    <h2 class="mb-0">CREDIT NOTE</h2>
                </center>
                <hr>
            </div>
        </div>
    </div>
    <div class="card radius-15">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                  <div class="d-flex">
                    <input type="text" id="search" class="form-control" placeholder="Search.." autocomplete="off"/>
                    <div class="dropdown ml-1" style="justify-content: left">
                      <button type="button" class="btn btn-outline-secondary dropdown-toggle text-grey" data-toggle="dropdown"><i class="fa fa-sort"></i> Sort by</button>
                      <div class="dropdown-menu" style="background-color: black">
                        <a class="dropdown-item" href="" style="height: 40px; font-size: 15px; color: white">All</a>
                        <a class="dropdown-item" style="height: 40px; font-size: 15px; color: white;cursor: pointer;" onclick="sortTable(3)">Customer Name</a>
                        <a class="dropdown-item" style="height: 40px; font-size: 15px; color: white;cursor: pointer;" onclick="sortTable(2)">Credit Note Number</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-5 d-flex justify-content-end">
                  <button type="button" class="btn btn-outline-secondary text-grey" id="exportBtn"><i class="fa fa-table"></i> Export To Excel</button>
                  <div class="dropdown ml-1">
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle text-grey" data-toggle="dropdown"><i class="fa fa-filter"></i> filter by</button>
                    <div class="dropdown-menu" style="background-color: black">
                      <a class="dropdown-item" style="height: 40px; font-size: 15px; color: white;cursor: pointer;" onclick="filterTable(6,'all')">All</a>
                      <a class="dropdown-item" style="height: 40px; font-size: 15px; color: white;cursor: pointer;" onclick="filterTable(6,'draft')">Draft</a>
                      <a class="dropdown-item" style="height: 40px; font-size: 15px; color: white;cursor: pointer;" onclick="filterTable(6,'saved')">Saved</a>
                    </div>
                  </div>
                  <a href="{% url 'Fin_Add_CreditNote' %}" class="ml-1"></i><button type="button" class="btn btn-outline-secondary text-grey"><i class="fa fa-plus font-weight-light"></i>Credit Note</button></a>
                </div>
              </div>
            <div class="container-fluid">
                <table class="table table-responsive-md mt-4" id="creditnoteTable">
                    <thead>
                        <tr class="text-center">
                            <th>#</th>
                            <th>DATE</th>
                            <th>CREDIT NOTE NUMBER</th>
                            <th>CUSTOMER NAME</th>
                            <th>CUSTOMER MAIL ID</th>
                            <th>AMOUNT</th>
                            <th>STATUS</th>
                            <th>BALANCE</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for a in creditnotes %}
                        <tr class="clickable-row" data-href="{% url 'Fin_CreditNote_Overview' a.id %}" style="cursor: pointer;text-align: center">
                          <td>{{ forloop.counter }}</td>
                          <td>{{ a.creditnote_date }}</td>
                          <td>{{ a.creditnote_no }}</td>
                          <td>{{ a.Customer.first_name }} {{ a.Customer.last_name }}</td>
                          <td>{{ a.customer_email}}</td>
                          <td>{{ a.grandtotal }}</td>
                          <td>{{ a.status }}</td>
                          <td>{{ a.balance }}</td>
                          
                        </tr>
                        {% endfor %}
                        
                      </tbody>
                    
                </table>
            </div>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
<script>
  var $rows = $('#creditnoteTable tbody tr');
  $('#search').keyup(function() {
    var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
    
    $rows.show().filter(function() {
      var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
      return !~text.indexOf(val);
    }).hide();
  });
  
  document.getElementById("exportBtn").addEventListener("click", function () {
    const Table = document.getElementById("creditnoteTableExport");
    const ws = XLSX.utils.table_to_sheet(Table);
    const wb = XLSX.utils.book_new();
    XLSX.utils.book_append_sheet(wb, ws, "Sheet1");
    XLSX.writeFile(wb, "creditnote.xlsx");
  });

  jQuery(document).ready(function ($) {
    $(".clickable-row").dblclick(function () {
      window.location = $(this).data("href");
    });
  });

  function sortTable(columnIndex) {
    var table, rows, switching, i, x, y, shouldSwitch;
    table = document.getElementById("creditnoteTable");
    switching = true;

    while (switching) {
      switching = false;
      rows = table.rows;

      for (i = 1; i < (rows.length - 1); i++) {
        shouldSwitch = false;
        x = rows[i].getElementsByTagName("td")[columnIndex].textContent.toLowerCase();
        y = rows[i + 1].getElementsByTagName("td")[columnIndex].textContent.toLowerCase();

        if (x > y) {
            shouldSwitch = true;
            break;
        }
      }

      if (shouldSwitch) {
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
      }
    }
  }

  function filterTable(row,filterValue) {
    var table1 = document.getElementById("creditnoteTable");
    var rows1 = table1.getElementsByTagName("tr");

    for (var i = 1; i < rows1.length; i++) {
      var statusCell = rows1[i].getElementsByTagName("td")[row];

      if (filterValue == "all" || statusCell.textContent.toLowerCase() == filterValue) {
        rows1[i].style.display = "";
      } else {
        rows1[i].style.display = "none";
      }
    }

    var table2 = document.getElementById("creditnoteTableExport");
    var rows2 = table2.getElementsByTagName("tr");

    for (var i = 1; i < rows2.length; i++) {
      var statusCell = rows2[i].getElementsByTagName("td")[row];

      if (filterValue == "all" || statusCell.textContent.toLowerCase() == filterValue) {
        rows2[i].style.display = "";
      } else {
        rows2[i].style.display = "none";
      }
    }
  }
  document.getElementById("exportBtn").addEventListener("click", function () {
    const Table = document.getElementById("creditnoteTable");
    const ws = XLSX.utils.table_to_sheet(Table);
    const wb = XLSX.utils.book_new();
    XLSX.utils.book_append_sheet(wb, ws, "Sheet1");
    XLSX.writeFile(wb, "creditnote..xlsx");
});
</script>


<!-- Go to View Page -->
<script>
    jQuery(document).ready(function ($) {
        $(".clickable-row").click(function () {
            window.location = $(this).data("href");
        });
    });
</script>
{% endblock %}







